.cardList {
    width: 50%;
    max-width: 600px;
    min-width: 450px;
    min-height: 90%;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0.5em; */
    /* background-color: #080808;
    color: gray;
    border-radius: 0.5em; */
}
