.card {
    width: 100%;
    background-color: #111111;
    margin-bottom: 1em;
    /* padding: top right bottom left */
    padding: 1em 2em 1em 2em;
    box-sizing: border-box;
    border: 1px solid #444444;
    color: #cccccc;
    border-radius: 0.5em;
}

.card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));s */
}